body {
  text-align: center;
  background-image:url("../image/wallpaper.jpg");
}
h1 {
color: lightblue;
font-weight: 400;
font-size: 80px;
font-style: oblique;
}
h2 {
  color: yellowgreen;
  font-size: 40px;
  font-style: italic;
}
p {
  color: lightgreen;
  font-size: 20px;
}
#wow {
  background-color: purple;
  font-size: 30px;
  height: 50px;
  border-radius: 50%;
  font-weight: bolder;
  color: yellow;

}
